--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.1+cpu
fastembed==0.8.0
lexicalrichness==0.5.1
rapidfuzz==3.14.5
spacy==3.8.14
stanza==1.13.0
warcio==1.8.1
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
